.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  @media (min-width: 768px) {
    margin-bottom: 0;
    margin: auto 0;
  }
}

.title {
  font-family: var(--font-neco-medium);
  color: var(--title-color);
  font-size: 22px;
  margin: 0 auto;
  margin-bottom: 6px;
  @media (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 8px;
  }
  @media (min-width: 1280px) {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.list_wrapper {
  border: 2px solid silver;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.3);
  @media (min-width: 1280px) {
    padding: 12px;
  }
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  @media (min-width: 768px) {
    flex-direction: row-reverse;
    gap: 8px;
  }
  @media (min-width: 1280px) {
    gap: 12px;
  }
}

.tab_wrapper {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
  @media (min-width: 1280px) {
    max-width: 375px;
  }
}

.li {
  font-family: var(--font-supreme-regular);
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
  @media (min-width: 768px) {
    font-size: 20px;
  }
  @media (min-width: 1280px) {
    font-size: 22px;
  }
}

.li::before {
  content: "★";
  color: var(--title-color);
  margin-right: 5px;
}
