:root {
  --font-neco-medium: "Neco-Medium", sans-serif;
  --font-neco-bold: "Neco-Bold", sans-serif;
  --font-supreme-regular: "Supreme-Regular", sans-serif;
  --title-color: #f6ebd9;
  --text-color: #c9d6df;
}
