.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.title {
  font-family: var(--font-neco-medium);
  color: var(--title-color);
  font-size: 22px;
  margin: 0 auto;
  margin-bottom: 6px;
  @media (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 8px;
  }
}

.list_wrapper {
  border: 2px solid silver;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.3);
}

.ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.icon {
  width: 40px;
  height: 40px;
  @media (min-width: 768px) {
    width: 42px;
    height: 42px;
  }
}

.acc {
  color: var(--title-color);
}

.itext {
  font-family: var(--font-supreme-regular);
  color: var(--text-color);
  font-weight: 600;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}
