.nav {
  position: absolute;
  width: 343px;
  background-color: rgba(246, 235, 217, 0.7);
  padding: 8px 16px;
  border-radius: 8px;
  z-index: 10;
  @media (min-width: 768px) {
    width: 752px;
  }
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 8px;
  @media (min-width: 768px) {
    margin-bottom: 12px;
  }
}

.li {
  font-family: var(--font-neco-medium);
  color: rgba(28, 28, 28, 0.7);
}

.a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  @media (min-width: 768px) {
    font-size: 22px;
  }
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  @media (min-width: 768px) {
    gap: 12px;
  }
}

.a_social {
  width: 24px;
  height: 24px;
  @media (min-width: 768px) {
    width: 26px;
    height: 26px;
  }
}
